<phpunit bootstrap="bootstrap.php"
timeoutForSmallTests="1"
timeoutForMediumTests="10"
timeoutForLargeTests="60"
verbose="true"
strict="true"
>
  <testsuites>
    <testsuite name="unit">
      <directory>unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>integration</directory>
    </testsuite>
  </testsuites>
</phpunit>