<?PHP
/* Copyright (C) 2002-2003 Rodolphe Quiedeville <rodolphe@quiedeville.org>
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
 * 
 * $Id$
 * $Source$
 *
 */

class Conf {
  var $readonly;
  var $dbi;

  Function Conf() {

    $this->theme = "dolibarr";

    $this->css = "theme/".$this->theme."/".$this->theme.".css";

    $this->liste_limit = 10;

    $this->db = new DbConf();

    $this->societe    = 1;

    $this->voyage     = 0;

    $this->compta    = new ComptaConf();
    $this->propal    = new PropalConf();
    $this->facture   = new FactureConf();
    $this->fichinter = new FicheInterConf();
    $this->webcal    = new WebcalConf();
    $this->produit   = new ProduitConf();
    $this->service   = new ServiceConf();
    $this->adherent  = new AdherentConf();
    $this->domaine   = new DomaineConf();

    $this->readonly = 0;

    $this->years = 2001;

    $this->password_encrypted = 1;

  }  
}

class ComptaConf
{
  Function ComptaConf() 
    {
      $this->tva = 1;
    }
}

class PropalConf {
  Function PropalConf() {

    $this->fromtoname = "Service Commercial";
    $this->fromtomail = "commercial@propal.com";

    $this->replytoname = "Service Commercial";
    $this->replytomail = "commercial@propal.com";

    $this->templatesdir = "/home/www/dolibarr/dolibarr/templates/propal/default";
    $this->outputdir    = "/home/www/dolibarr/dolibarr/htdocs/document/propal";
    /*
     * Without ended slash
     */
    $this->outputurl    = "/document/propal";
  }
}
/*
 * Base de données
 *
 */
class DbConf {
  Function DbConf() {
    $this->type = "mysql";
    $this->host = "localhost";
    $this->user = "";
    $this->pass = "";
    $this->name = "dolibarr";
  }
}
/*
 * Calendrier
 *
 */
class WebcalConf {
  Function WebcalConf() {
    $this->enabled = 1;

    $this->url = "http://webcalendar.lafrere.lan/";

    $this->db = new DbConf();
    $this->db->user = "webcal";
    $this->db->name = "webcal";
    
  }
}

/*
 * Factures
 *
 */
class FactureConf {
  Function FactureConf() {

    $this->enabled = 1;

    $this->templatesdir = "/home/www/dolibarr/dolibarr/templates/facture/default";
    $this->outputdir    = "/home/www/dolibarr/dolibarr/htdocs/document/facture";
    /*
     * Without ended slash
     */
    $this->outputurl    = "/document/facture";
  }
}

/*
 * Fiche d'intervention
 *
 */
class FicheInterConf {
  Function FicheInterConf() {
    $this->enabled = 1;

    $this->templatesdir = "/home/www/dolibarr/dolibarr/templates/fichinter/default";
    $this->outputdir    = "/home/www/dolibarr/dolibarr/htdocs/document/fichinter";
    /*
     * Without ended slash
     */
    $this->outputurl    = "/document/fichinter";
  }
}
/*
 * Dons
 *
 */
class DonConf {
  Function DonConf() {
    $this->enabled = 0;

    /* Paiement en ligne */

    $this->onlinepayment = 0;

    /* Don minimum, 0 pas de limite */ 
    $this->minimum = 0;

    /* Email des moderateurs */

    $this->email_moderator = "root@localhost";

  }
}
/*
 * Produits
 *
 */
class ProduitConf {
  Function ProduitConf() {
    $this->enabled = 0;
  }
}
/*
 * Service
 *
 */
class ServiceConf {
  Function ServiceConf() {
    $this->enabled = 0;
  }
}
/*
 * Adherents
 *
 */
class AdherentConf {
  Function AdherentConf() {
    $this->enabled = 0;
    $this->email_new = "Merci de votre inscription. Votre adhesion devrait etre rapidement validee.\nVoici le rappel des coordonnees que vous avez rentrees (toute information erronee entrainera la non validation de votre inscription) :\n\n%INFO%\n\nVous pouvez a tout moment, grace a votre login et mot de passe, modifier vos coordonnees a l'adresse suivante :\n%SERVEUR%public/adherents/\n\n";
    $this->email_new_subject = 'Vos coordonnees sur %SERVEUR%';
    $this->email_edit = "Voici le rappel des coordonnees que vous avez modifiees (toute information erronee entrainera la non validation de votre inscription) :\n\n%INFO%\n\nVous pouvez a tout moment, grace a votre login et mot de passe, modifier vos coordonnees a l'adresse suivante :\n%SERVEUR%public/adherents/\n\n";
    $this->email_edit_subject = 'Vos coordonnees sur %SERVEUR%';
    $this->email_valid = "Votre adhesion vient d'etre validee. Voici le rappel de vos coordonnees (toute information erronee entrainera la non validation de votre inscription) :\n\n%INFO%\n\nVous pouvez a tout moment, grace a votre login et mot de passe, modifier vos coordonnees a l'adresse suivante :\n%SERVEUR%public/adherents/\n\n";
    $this->email_valid_subject = 'Vos coordonnees sur %SERVEUR%';
    $this->email_resil = "Votre adhesion sur %SERVEUR% vient d'etre resilie.\nNous esperons vous revoir bientot\n";
    $this->email_resil_subject = 'Vos coordonnees sur %SERVEUR%';

  }
}
/*
 * Domaines
 *
 */
class DomaineConf {
  Function DomaineConf() {
    $this->enabled = 0;
  }
}

?>
