<?PHP
/* Copyright (C) 2002 Rodolphe Quiedeville <rodolphe@quiedeville.org>
 * 
 * $Id$
 * $Source$
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
 * 
 */

class Conf {
  var $readonly;
  var $dbi;

  Function Conf() {

    $this->theme = "dolibarr";

    $this->liste_limit = 10;

    $this->db = new DbConf();

    $this->propal = new PropalConf();

    $this->facture = new FactureConf();

    $this->fichinter = new FicheInterConf();

    $this->webcal = new WebcalConf();

    $this->readonly = 0;

    $this->years = 2001;

    $this->css = "theme/dolibarr/dolibarr.css";

  }  
}

class PropalConf {
  Function PropalConf() {

    $this->fromtoname = "Service Commercial";
    $this->fromtomail = "commercial@propal.com";

    $this->replytoname = "Service Commercial";
    $this->replytomail = "commercial@propal.com";

    $this->templatesdir = "/home/www/dolibarr/dolibarr/templates/propal/default";
    $this->outputdir    = "/home/www/dolibarr/dolibarr/htdocs/document/propal";
    /*
     * Without ended slash
     */
    $this->outputurl    = "/document/propal";
  }
}

class DbConf {
  Function DbConf() {
    $this->type = "mysql";
    $this->host = "localhost";
    $this->user = "";
    $this->pass = "";
    $this->name = "dolibarr";
  }
}

class WebcalConf {
  Function WebcalConf() {
    $this->enabled = 1;

    $this->url = "http://webcalendar.lafrere.lan/";

    $this->db = new DbConf();
    $this->db->user = "webcal";
    $this->db->name = "webcal";
    
  }
}

/*
 * Factures
 *
 */
class FactureConf {
  Function FactureConf() {

    $this->enabled = 1;

    $this->templatesdir = "/home/www/dolibarr/dolibarr/templates/facture/default";
    $this->outputdir    = "/home/www/dolibarr/dolibarr/htdocs/document/facture";
    /*
     * Without ended slash
     */
    $this->outputurl    = "/document/facture";
  }
}

/*
 * Fiche d'intervention
 *
 */
class FicheInterConf {
  Function FicheInterConf() {

    $this->enabled = 1;

    $this->templatesdir = "/home/www/dolibarr/dolibarr/templates/fichinter/default";
    $this->outputdir    = "/home/www/dolibarr/dolibarr/htdocs/document/fichinter";
    /*
     * Without ended slash
     */
    $this->outputurl    = "/document/fichinter";
  }
}

?>
