body {
  position: relative;
}

.product-name {
  font-family: Satisfy;
}

#my-navbar-nav {
  font-size: 16px;
}

#my-nav-brand {
  font-size: 24px;
  margin: 2px 40px 0 10px;
  color: #ffffff;
}

#home {
  background: #323232 url(home-bg.jpg) center 0 no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 660px;
  color: #ffffff;
}
#home-title {
  font-size: 70px;
  margin-top: 180px;
}
#home-subtitle {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#learn-more {
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 38px;
  margin-top: 60px;
}
@media screen and (max-width: 991px) {
  #learn-more {
    display: none;
  }
}

.section {
  margin: 0 15vw;
  padding: 5px 0 0;
}

h1 {
  font-family: Kelly Slab;
  font-size: 56px;
  margin: 50px 0 20px;
}

h2 {
  font-family: Kelly Slab;
  margin: 20px 0 10px;
}

h3 {
  font-family: Kelly Slab;
}
#embedded-Gantt, #external-Gantt {
}

.code-block {
  background-color: #222222;
}

.contact-card {
  max-width: 200px;
  margin: auto;
}

.contact-link {
  font-size: 28px;
}

.footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid #bbbbbb 1px;
}

#slide-card {
  background: transparent;
  border: none;
  margin: 180px 50px 50px;
}
#slide-dots {
  background: transparent;
  border: none;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}
.dot:hover {
  opacity: 1;
}
.dot.active {
  opacity: 1;
}
.slide {
  width: 100%;
  height: 150px;
  font-size: 20px;
  display: none;
  opacity: 0;
}
.slide-icon {
  font-size: 60px;
}
