[submodule "htdocs/multicompany"]
	path = htdocs/multicompany
	url = git+ssh://scm.doliforge.org/gitroot/regisperso/regisperso.git
[submodule "htdocs/highCharts"]
	path = htdocs/highCharts
	url = https://git.symeos.com/module-highCharts.git
[submodule "htdocs/lead"]
	path = htdocs/lead
	url = https://git.symeos.com/module-lead
[submodule "htdocs/team"]
	path = htdocs/team
	url = https://git.symeos.com/module-team
