# This script is used by Travis CI to run automatically Continuous test integration
# from Dolibarr GitHub repository.
# For syntax, see http://about.travis-ci.org/docs/user/languages/php/

# We use dist: precise to have php 5.3 available 
dist: precise
sudo: required

language: php

# Start on every boot
services:
- memcached

addons:
  mariadb: '10.0'
  postgresql: '9.3'
  apt:
    sources:
    # To use the last version of pgloader, we add repo of postgresql
    - postgresql
    - sourceline: 'deb http://apt.postgresql.org/pub/repos/apt/ trusty-pgdg main'
    - key_url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'  
    packages:
    # We need a webserver to test the webservices
    # Let's install Apache with.
    - apache2
    # mod_php is not supported by Travis. Add fcgi. We install FPM later on.
    - libapache2-mod-fastcgi
    # We need pgloader for import mysql database into pgsql
    - pgloader

php:
- '5.3'
- '5.4'
- '5.5'
- '5.6'
- '7.0'
- '7.1'
- '7.2'
- nightly

env:
  global:
  # Set to true for very verbose output
  - DEBUG=false
  matrix:
  # MariaDB overrides MySQL installation so it's not possible to test both yet
  #- DB=mysql
  - DB=mariadb
  - DB=postgresql
  # TODO
  #- DB=sqlite
  # See https://docs.travis-ci.com/user/languages/php/#Apache-%2B-PHP
  #- WS=apache
  # See https://github.com/DracoBlue/travis-ci-nginx-php-fpm-test
  #- WS=nginx

matrix:
  fast_finish: true
  allow_failures:
  - php: nightly
  # We exclude some combinations not usefull to save Travis CPU
  exclude:
  - php: '5.4'
    env: DB=mariadb
  - php: '5.5'
    env: DB=mariadb
  - php: '5.6'
    env: DB=mariadb
  - php: '7.0'
    env: DB=mariadb
  - php: '7.1'
    env: DB=mariadb
  - php: '5.4'
    env: DB=postgresql
  - php: '5.5'
    env: DB=postgresql
  - php: '5.6'
    env: DB=postgresql
  - php: '7.0'
    env: DB=postgresql
  - php: '7.1'
    env: DB=postgresql
  - php: nightly
    env: DB=postgresql

notifications:
  email:
    on_success: never # [always|never|change] default: change
    on_failure: never # [always|never|change] default: always
  irc:
    channels:
    - "chat.freenode.net#dolibarr"
    on_success: change
    on_failure: always
    use_notice: true

before_install:
- |
  echo "Disabling Xdebug for composer"
  export PHP_VERSION_NAME=$(phpenv version-name)
  cp ~/.phpenv/versions/$PHP_VERSION_NAME/etc/conf.d/xdebug.ini /tmp/xdebug.ini
  phpenv config-rm xdebug.ini
  echo

- |
  if [ "$DB" = 'postgresql' ]; then
    echo "Check pgloader version"
    pgloader --version
    echo
  fi
 
install:
- |
  echo "Updating Composer"
  rm $TRAVIS_BUILD_DIR/composer.json
  rm $TRAVIS_BUILD_DIR/composer.lock
  composer self-update
  composer -n init
  composer -n config vendor-dir htdocs/includes
  echo

- |
  echo "Installing Parallel Lint"
  composer -n require jakub-onderka/php-parallel-lint ^0
  composer -n require jakub-onderka/php-console-highlighter ^0
  echo

- |
  echo "Installing PHP Unit"
  if [ "$TRAVIS_PHP_VERSION" = '5.3' ] || [ "$TRAVIS_PHP_VERSION" = '5.4' ] || [ "$TRAVIS_PHP_VERSION" = '5.5' ]; then
    composer -n require phpunit/phpunit ^4
  fi
  if [ "$TRAVIS_PHP_VERSION" = '5.6' ] || [ "$TRAVIS_PHP_VERSION" = '7.0' ] || [ "$TRAVIS_PHP_VERSION" = '7.1' ]; then
    composer -n require phpunit/phpunit ^5
  fi
  if [ "$TRAVIS_PHP_VERSION" = '7.2' ] || [ "$TRAVIS_PHP_VERSION" = 'nightly' ]; then
    composer -n require phpunit/phpunit ^5
  fi
  echo

- |
  echo "Installing PHP CodeSniffer"
  composer -n require squizlabs/php_codesniffer ^2
  echo

- |
  echo "Adding path of binaries tools installed by composer to the PATH"
  export PATH="$TRAVIS_BUILD_DIR/htdocs/includes/bin:$PATH"
  echo
  

before_script:
- |
  echo Start travis
  echo Current dir is `pwd`
  echo Home dir is `echo ~`
  echo TRAVIS_BUILD_DIR is $TRAVIS_BUILD_DIR

- |
  echo "Re-enabling Xdebug for PHP CodeSniffer and PHP Unit"
  phpenv config-add /tmp/xdebug.ini
  echo

- |
  echo "Setting up PHP"
  echo
  echo "Set timezone"
  echo 'date.timezone = "Europe/Paris"' >> ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php.ini
  if [ "$TRAVIS_PHP_VERSION" = '5.3' ] || [ "$TRAVIS_PHP_VERSION" = '5.4' ]; then
    #echo
    #echo "Enabling APC for PHP <= 5.4"
    #   Documentation says it should be available for PHP <= 5.6 but it's not for 5.5 and 5.6!
    #echo 'extension = apc.so' >> ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php.ini
    echo
    echo "Enabling Memcached for PHP <= 5.4"
    #   Documentation says it should be available for all PHP versions but it's not for 5.5 and 5.6, 7.0, 7.1, 7.2 and nightly!
    echo 'extension = memcached.so' >> ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php.ini
  fi
  phpenv rehash
  echo

- |
  if [ "$DEBUG" = true ]; then
    echo "Debugging informations"
    # Check PHP
    php -i
    # Check PHP CodeSniffer installation
    which phpcs
    phpcs --version
    phpcs -i
    # Check PHPUnit installation
    which phpunit
    phpunit --version
    # Check MySQL
    mysql --version
    mysql -e "SELECT VERSION();"
    echo
  fi
  
- |
  echo "Setting up database"
  if [ "$DB" = 'mysql' ] || [ "$DB" = 'mariadb' ] || [ "$DB" = 'postgresql' ]; then
    echo "MySQL"
    mysql -e 'DROP DATABASE IF EXISTS travis;'
    mysql -e 'CREATE DATABASE IF NOT EXISTS travis;'
    mysql -e 'GRANT ALL PRIVILEGES ON travis.* TO travis@127.0.0.1;'
    mysql -e 'FLUSH PRIVILEGES;'    
    mysql -D travis < dev/initdemo/mysqldump_dolibarr_3.5.0.sql
  fi
  if [ "$DB" = 'postgresql' ]; then
    #pgsql travis < dev/initdemo/mysqldump_dolibarr_3.5.0.sql
    #pgloader mysql://root:pass@127.0.0.1/base postgresql://dolibarrowner@127.0.0.1/dolibarr
    pgloader mysql://root@127.0.0.1/travis postgresql:///travis
  fi
  # TODO: SQLite
  echo

- |
  export CONF_FILE=htdocs/conf/conf.php
  echo "Setting up Dolibarr $CONF_FILE"
  echo '<?php ' > $CONF_FILE
  echo '$'dolibarr_main_url_root=\'http://127.0.0.1\'';' >> $CONF_FILE
  echo '$'dolibarr_main_document_root=\'$TRAVIS_BUILD_DIR/htdocs\'';' >> $CONF_FILE
  echo '$'dolibarr_main_data_root=\'$TRAVIS_BUILD_DIR/documents\'';' >> $CONF_FILE
  echo '$'dolibarr_main_db_host=\'127.0.0.1\'';' >> $CONF_FILE
  echo '$'dolibarr_main_db_name=\'travis\'';' >> $CONF_FILE
  echo '$'dolibarr_main_db_user=\'travis\'';' >> $CONF_FILE
  if [ "$DB" = 'mysql' ] || [ "$DB" = 'mariadb' ]; then
    echo '$'dolibarr_main_db_type=\'mysqli\'';' >> $CONF_FILE
  fi
  if [ "$DB" = 'postgresql' ]; then
    echo '$'dolibarr_main_db_type=\'pgsql\'';' >> $CONF_FILE
  fi
  # TODO: SQLite
  echo '$'dolibarr_main_authentication=\'dolibarr\'';' >> $CONF_FILE
  cat $CONF_FILE
  echo

- |
  echo "Create documents directory and set permissions"
  # and admin/temp subdirectory needed for unit tests
  mkdir -p documents/admin/temp
  echo "first line" > documents/dolibarr.log
  echo

- |
  echo "Setting up Apache + FPM"
  # enable php-fpm
  cp ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php-fpm.conf.default ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php-fpm.conf
  if [ "$TRAVIS_PHP_VERSION" = '7.0' ] || [ "$TRAVIS_PHP_VERSION" = '7.1' ] || [ "$TRAVIS_PHP_VERSION" = '7.2' ] || [ "$TRAVIS_PHP_VERSION" = 'nightly' ]; then
    # Copy the included pool
    cp ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php-fpm.d/www.conf
  fi
  if [ "$DEBUG" = true ]; then
    cat ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php-fpm.conf
  fi
  sudo a2enmod rewrite actions fastcgi alias
  echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php.ini
  if [ "$DEBUG" = true ]; then
    cat ~/.phpenv/versions/$PHP_VERSION_NAME/etc/php.ini
  fi
  ~/.phpenv/versions/$PHP_VERSION_NAME/sbin/php-fpm
  # configure apache virtual hosts
  sudo cp -f build/travis-ci/apache.conf /etc/apache2/sites-available/default
  sudo sed -e "s?%TRAVIS_BUILD_DIR%?$TRAVIS_BUILD_DIR?g" --in-place /etc/apache2/sites-available/default
  if [ "$DEBUG" = true ]; then
    sudo cat /etc/apache2/sites-available/default
  fi
  sudo service apache2 restart
  echo

script:
- |
  echo "Checking webserver availability"
  # Ensure we catch errors
  set -e
  wget http://127.0.0.1
  if [ "$DEBUG" = true ]; then
    cat index.html
  fi
  set +e
  echo

- |
  echo "Checking PHP syntax errors"
  # Ensure we catch errors
  set -e
  parallel-lint --exclude htdocs/includes --blame .
  set +e
  echo

- |
  echo "Checking coding style"
  # Ensure we catch errors
  set -e
  # Exclusions are defined in the ruleset.xml file
  phpcs -s -n -p -d memory_limit=-1 --colors --tab-width=4 --standard=dev/setup/codesniffer/ruleset.xml --encoding=utf-8 .
  set +e
  echo

# TODO: Check Javascript (jshint?)

# TODO: Check CSS (csslint?)

- |
  echo "Upgrading Dolibarr"
  # Ensure we catch errors
  set +e
  cd htdocs/install
  php upgrade.php 3.5.0 3.6.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade350360.log
  php upgrade2.php 3.5.0 3.6.0 > $TRAVIS_BUILD_DIR/upgrade350360-2.log
  php step5.php 3.5.0 3.6.0 > $TRAVIS_BUILD_DIR/upgrade350360-3.log
  php upgrade.php 3.6.0 3.7.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade360370.log
  php upgrade2.php 3.6.0 3.7.0 > $TRAVIS_BUILD_DIR/upgrade360370-2.log
  php step5.php 3.6.0 3.7.0 > $TRAVIS_BUILD_DIR/upgrade360370-3.log
  php upgrade.php 3.7.0 3.8.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade370380.log
  php upgrade2.php 3.7.0 3.8.0 > $TRAVIS_BUILD_DIR/upgrade370380-2.log
  php step5.php 3.7.0 3.8.0 > $TRAVIS_BUILD_DIR/upgrade370380-3.log
  php upgrade.php 3.8.0 3.9.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade380390.log
  php upgrade2.php 3.8.0 3.9.0 > $TRAVIS_BUILD_DIR/upgrade380390-2.log
  php step5.php 3.8.0 3.9.0 > $TRAVIS_BUILD_DIR/upgrade380390-3.log
  php upgrade.php 3.9.0 4.0.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade390400.log
  php upgrade2.php 3.9.0 4.0.0 MAIN_MODULE_API,MAIN_MODULE_SUPPLIERPROPOSAL > $TRAVIS_BUILD_DIR/upgrade390400-2.log
  php step5.php 3.9.0 4.0.0 > $TRAVIS_BUILD_DIR/upgrade390400-3.log
  php upgrade.php 4.0.0 5.0.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade400500.log
  php upgrade2.php 4.0.0 5.0.0 > $TRAVIS_BUILD_DIR/upgrade400500-2.log
  php step5.php 4.0.0 5.0.0 > $TRAVIS_BUILD_DIR/upgrade400500-3.log
  php upgrade.php 5.0.0 6.0.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade500600.log
  php upgrade2.php 5.0.0 6.0.0 > $TRAVIS_BUILD_DIR/upgrade500600-2.log
  php step5.php 5.0.0 6.0.0 > $TRAVIS_BUILD_DIR/upgrade500600-3.log
  php upgrade.php 6.0.0 7.0.0 ignoredbversion > $TRAVIS_BUILD_DIR/upgrade600700.log
  php upgrade2.php 6.0.0 7.0.0 MAIN_MODULE_WEBSITE,MAIN_MODULE_SUPPLIERPROPOSAL > $TRAVIS_BUILD_DIR/upgrade600700-2.log
  php step5.php 6.0.0 7.0.0 > $TRAVIS_BUILD_DIR/upgrade600700-3.log
  cd -
  set +e
  echo
  #cat $TRAVIS_BUILD_DIR/upgrade400500-2.log
  #cat $TRAVIS_BUILD_DIR/upgrade500600.log
  #cat $TRAVIS_BUILD_DIR/upgrade500600-2.log
  #cat $TRAVIS_BUILD_DIR/upgrade500600-3.log
  #cat /tmp/dolibarr_install.log
  
- |
  echo "Unit testing"
  phpunit --version
  # Ensure we catch errors. Set this to +e if you want to go to the end to see dolibarr.log file.
  set -e
  phpunit -d memory_limit=-1 -c test/phpunit/phpunittest.xml test/phpunit/AllTests.php
  set +e

- |
  #echo "Output dolibarr.log"
  #cat documents/dolibarr.log

after_script:
- |
  # Dolibarr log file
  #echo "After script"
  #cat documents/dolibarr.log


after_success:
- |
  echo Success

after_failure:
- |
  echo Failure
  # This part of code seems to be never executed, error or not ???
  echo "Debugging informations"
  # Upgrade log files
  cat *.log
  echo "Debugging informations"
  # Apache log file
  sudo cat /var/log/apache2/error.log
  # Dolibarr log file
  cat documents/dolibarr.log
  if [ "$DEBUG" = true ]; then
    # MariaDB log file
    sudo cat /var/log/mysql/error.log
    # TODO: PostgreSQL log file
    echo
  fi

