#
#
# Sample httpd.conf for dolibarr
#
# $Id$
# $Source$
#
<VirtualHost dolibarr.lafrere.lan>
  ServerAdmin webmaster.fr@lolix.org
  DocumentRoot /spare/home/www/dolibarr/dolibarr/htdocs
  ServerName dolibarr.lafrere.lan
  ErrorLog  /spare/home/www/dolibarr/logs/error.log
  CustomLog /spare/home/www/dolibarr/logs/access.log combined

  ErrorDocument 401 /public/error-401.html

  <Location />
    Options Indexes FollowSymLinks
    AllowOverride All
    Order deny,allow
    Deny from all

    AuthType 				Basic
    Auth_MySQL_Authoritative		on
    Auth_MySQL_DB 			dolibarr
    Auth_MySQL_Password_Table 		llx_user
    Auth_MySQL_Username_Field 		login
    Auth_MySQL_Password_Field 		pass
    Auth_MySQL_Encryption_Types 	Crypt_DES
    Auth_MySQL_Encrypted_Passwords 	off
    AuthName        			"Dolibarr"

    require valid-user
    satisfy any
  </Location>

  <Location /public/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Order deny,allow
    Allow from all
  </Location>

</VirtualHost>