#
# Fichier d'exemple pour Dolibarr
#
# Utilisez ce fichier si cous voulez l'authentification
# par Pear (conseillé)
#
# $Id$
# $Source$
#
<VirtualHost dolibarr.lafrere.lan>
  ServerAdmin webmaster.fr@lolix.org
  DocumentRoot /home/www/dolibarr/dolibarr/htdocs
  ServerName dolibarr.lafrere.lan
  ErrorLog  /home/www/dolibarr/logs/error.log
  CustomLog /home/www/dolibarr/logs/access.log combined

  ErrorDocument 401 /public/error-401.html

  php_flag register_globals on

  # La section <Location> suivante n'est utile que si vous utilisez
  # le module apache-mod-auth-myslq
  #

  <Location />
    Options Indexes FollowSymLinks
    AllowOverride All
  </Location>

  <Location /public/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Order deny,allow
    Allow from all
  </Location>

  <Location /theme/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Order deny,allow
    Allow from all
  </Location>

  <LocationMatch /public/adherents/priv_*>
    Options Indexes FollowSymLinks
    AllowOverride All
    Order deny,allow
    Deny from all

    AuthType 				Basic
    Auth_MySQL_Authoritative		on
    Auth_MySQL_DB 			dolibarr
    Auth_MySQL_Password_Table 		llx_adherent
    Auth_MySQL_Username_Field 		login
    Auth_MySQL_Password_Field 		pass
    Auth_MySQL_Encrypted_Passwords 	off
    AuthName        			"Adherents"

    require valid-user
    satisfy any
  </LocationMatch>

</VirtualHost>




