parameters:
	customRulesetUsed: true
	level: 2
	fileExtensions:
		- php
	paths:
	    - htdocs
	    - scripts
	excludePaths:
		analyseAndScan:
		- htdocs/custom/*
		- htdocs/dev/*
		- htdocs/doc/*
		- htdocs/documents/*
		- htdocs/install/doctemplates/*
		- htdocs/langs/*
		- htdocs/modulebuilder/template/test/*
		- htdocs/support/*
		- htdocs/test/*
		analyse:
		- htdocs/includes/*
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	checkAlwaysTrueStrictComparison: false
	checkClassCaseSensitivity: false
	checkFunctionArgumentTypes: false
	checkFunctionNameCase: false
	checkArgumentsPassedByReference: false
	checkMaybeUndefinedVariables: false
	checkNullables: false
	checkThisOnly: true
	checkUnionTypes: false
	checkExplicitMixedMissingReturn: false
	checkPhpDocMissingReturn: false
	reportMaybes: false
	reportMaybesInMethodSignatures: false
	reportStaticMethodSignatures: false
	polluteScopeWithLoopInitialAssignments: true
	polluteScopeWithAlwaysIterableForeach: true
	reportMagicMethods: false
	reportMagicProperties: false
	ignoreErrors:
		- '#Undefined variable: \$langs#'
		- '#Undefined variable: \$user#'
		- '#Undefined variable: \$db#'
		- '#Undefined variable: \$conf#'
		- '#Undefined variable: \$hookmanager#'
		- '#Undefined variable: \$mysoc#'
		- '#Undefined variable: \$error#'
		- '#Undefined variable: \$errors#'
		- '#Undefined variable: \$form#'
		- '#has an unused parameter \$param#'
		- '#Function llxHeader invoked with#'
		- '#Function llxHeaderVierge invoked with#'
		- '#Function llxFooter invoked with#'
		- '#Function llxFooterVierge invoked with#'
		- '#If condition is always true#'
		- '#always exists and is not falsy#'
		- '#is always true#'
		- '#is always fal#'
		- '#has no return type specified#'
		- '#always exists and is not nullable#'
		- '#PHPDoc tag @return has invalid value#'
		- '#type has no value type specified in iterable type array#'
		- '#with no value type specified in iterable type array#'
		- '#Empty array passed to foreach#'
		- '#Result of function fieldList#'
		- '#in isset\(\) is not nullable#'
		- '#in isset\(\) is never defined#'
		- '#(\$force_dolibarr_lib|\$dolibarr_main_db).*in empty\(\) is never defined.#'
		- '#Caught class Stripe#'
		- '#Sprain\\SwissQrBill\\#'
		- '#Constructor of class DolEditor has an unused parameter \$toolbarlocation#'
		- '#Constructor of class DoliDB\w+ has an unused parameter \$type#'
	internalErrorsCountLimit: 50
	cache:
	    nodesByFileCountMax: 512
	    nodesByStringCountMax: 512
	reportUnmatchedIgnoredErrors: false
	universalObjectCratesClasses:
		- stdClass
		- SimpleXMLElement
	earlyTerminatingMethodCalls: []
	dynamicConstantNames:
		- ICONV_IMPL
		- PHP_VERSION
		- PHP_MAJOR_VERSION
		- PHP_MINOR_VERSION
		- PHP_RELEASE_VERSION
		- PHP_VERSION_ID
		- PHP_EXTRA_VERSION
		- PHP_ZTS
		- PHP_DEBUG
		- PHP_MAXPATHLEN
		- PHP_OS
		- PHP_OS_FAMILY
		- PHP_SAPI
		- PHP_EOL
		- PHP_INT_MAX
		- PHP_INT_MIN
		- PHP_INT_SIZE
		- PHP_FLOAT_DIG
		- PHP_FLOAT_EPSILON
		- PHP_FLOAT_MIN
		- PHP_FLOAT_MAX
		- DEFAULT_INCLUDE_PATH
		- PEAR_INSTALL_DIR
		- PEAR_EXTENSION_DIR
		- PHP_EXTENSION_DIR
		- PHP_PREFIX
		- PHP_BINDIR
		- PHP_BINARY
		- PHP_MANDIR
		- PHP_LIBDIR
		- PHP_DATADIR
		- PHP_SYSCONFDIR
		- PHP_LOCALSTATEDIR
		- PHP_CONFIG_FILE_PATH
		- PHP_CONFIG_FILE_SCAN_DIR
		- PHP_SHLIB_SUFFIX
		- PHP_FD_SETSIZE
