<html>
 <head>
 <title>Page info ansible</title>
 </head>
 <body>
 <h1>Apache, configured by Ansible</h1>
 <p>If you can see this, Ansible successfully installed apache.</p>
 <p>{{ ansible_managed }}</p>
 </body>
</html>