<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTestSize="true"
  >
  <testsuite name="Sabre\VObject">
    <directory>VObject/</directory>
  </testsuite>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../lib/</directory>
        <exclude>
            <file>../lib/Sabre/VObject/includes.php</file>
        </exclude>
   </whitelist>
  </filter>
</phpunit>
