ul.blockvmenu {
  color: var(--colortextbackvmenu);
  margin: 0;
  list-style: none;
  line-height: 1.5em;
  padding: 0;
  position: relative;
  & > li {
    display: block;
  }
  & > .menu_titre {
    & > * {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      gap: 0.5em;
      & > i.fa {
        font-size: 1em;
      }
    }

    // &:not(:last-child) {
    //   //   padding-bottom: 1.5em;
    // }
  }
  &:before,
  &:last-of-type:after {
    content: "";
    opacity: var(--opacity-soft);
    width: 100%;
    height: var(--borderWidth);
    z-index: 1;
    background: currentColor;
    display: block;
    margin: 1em 0;
    /* position:absolute; */
    /* top:0; */
  }
}
