parameters:
    level: 5
    paths:
        - src/
    ignoreErrors:
        - '#Parameter \#1 \$h of method TCPDF::setCellHeightRatio\(\) expects int, float given\.#'
    reportUnmatchedIgnoredErrors: false