<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap = "vendor/autoload.php"
        colors = "true"
        convertDeprecationsToExceptions = "false"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>

    <testsuites>
        <testsuite name="Swiss Qr Bill Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
