name: GitHub CI PHPUnit Mysql

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
        - 32574:3306

    steps:
    # git clone dolibarr into GITHUB_WORKSPACE = /home/runner/work/dolibarr/dolibarr
    - uses: actions/checkout@v3

    - name: Version PHP
      run: |
        php -i | head -

    - name: Set vendor-dir
      run: composer -n config -g vendor-dir htdocs/includes

    - name: Version information
      run: |
        composer -V
        # Check Parallel-lint version
        echo "Parallel-lint version"
        which parallel-lint
        parallel-lint -V
        # Check PHP CodeSniffer version
        echo "PHPCS version"
        which phpcs
        phpcs --version | head -
        phpcs -i | head -
        # Check PHP Vardump check version
        echo "PHP Vardump check version"
        which var_dump_check
        var_dump_check --version
        # Check PHPUnit version
        echo "PHPUnit version"
        which phpunit
        phpunit --version | head -
        # Check Apache version
        echo "Apache version"
        apache2 -v | head -
        # Check Database
        echo "Database version"
        mysql --version | head -
        psql --version
        echo "Check pgloader version"
        pgloader --version

    - name: Create database
      run: |
        pwd
        echo GITHUB_WORKSPACE = $GITHUB_WORKSPACE 
        sudo apt-get install -y mysql-client
        mysql --version | head -
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e "SELECT VERSION();"  | head -
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e "SHOW DATABASES"
        echo "Drop and create database"
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e 'DROP DATABASE IF EXISTS travis;'
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e 'CREATE DATABASE IF NOT EXISTS travis;'
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e "CREATE USER 'travis'@'127.0.0.1' IDENTIFIED BY 'password';"
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e 'GRANT ALL PRIVILEGES ON travis.* TO travis@127.0.0.1;'
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -e 'FLUSH PRIVILEGES;'
        mysql --host 127.0.0.1 --port 32574 -uroot -ppassword -D travis < dev/initdemo/mysqldump_dolibarr_3.5.0.sql  

    - name: Generate Dolibarr conf file
      run: |
        export CONF_FILE=htdocs/conf/conf.php
        echo "Setting up Dolibarr $CONF_FILE"
        echo '<?php' > $CONF_FILE
        echo '$'dolibarr_main_url_root=\'http://127.0.0.1\'';' >> $CONF_FILE
        echo '$'dolibarr_main_document_root=\'$GITHUB_WORKSPACE/htdocs\'';' >> $CONF_FILE
        echo '$'dolibarr_main_data_root=\'$GITHUB_WORKSPACE/documents\'';' >> $CONF_FILE
        echo '$'dolibarr_main_db_host=\'127.0.0.1\'';' >> $CONF_FILE
        echo '$'dolibarr_main_db_name=\'travis\'';' >> $CONF_FILE
        echo '$'dolibarr_main_db_user=\'travis\'';' >> $CONF_FILE
        echo '$'dolibarr_main_instance_unique_id=\'travis1234567890\'';' >> $CONF_FILE
        echo '$'dolibarr_main_db_type=\'mysqli\'';' >> $CONF_FILE
        echo '$'dolibarr_main_db_port=\'3306\'';' >> $CONF_FILE
        echo '$'dolibarr_main_authentication=\'dolibarr\'';' >> $CONF_FILE
        cat $CONF_FILE
        echo      

    - name: Create document directory
      run: |
        echo "Create documents directory and set permissions"
        # and admin/temp subdirectory needed for unit tests
        mkdir -p $GITHUB_WORKSPACE/documents/admin/temp
        sudo chmod -R a+rwx $GITHUB_WORKSPACE/documents
        echo "***** First line of dolibarr.log" > $GITHUB_WORKSPACE/documents/dolibarr.log
        echo
  
    - name: Setup Apache
      run: |
        echo "Setting up Apache + FPM"
        # setup link for php legacy
        sudo ln -s ~/.phpenv/versions/$(phpenv version-name)/bin/php /bin/php
        # install apache web server
        sudo apt-get install apache2 php-fpm php-mysql php-pgsql php-gd php-ldap php-xml php-mbstring php-intl libapache2-mod-php
        # enable php-fpm
        sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
        sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf
        sudo a2enmod proxy_fcgi rewrite setenvif cgi alias
        echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
        #sudo sed -i -e "s,www-data,travis,g" /etc/apache2/envvars
        #- sudo chown -R travis:travis /var/lib/apache2/fastcgi
        # start php-fpm
        ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
        # configure apache virtual hosts
        sudo cp -f build/travis-ci/apache.conf /etc/apache2/sites-available/000-default.conf
        sudo sed -e "s?%GITHUB_WORKSPACE%?$(pwd)?g" --in-place /etc/apache2/sites-available/000-default.conf
        sudo cat /etc/apache2/sites-available/000-default.conf
        sudo service apache2 restart

