name: Test Coding Style

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
        - 32574:3306

    steps:
    # git clone dolibarr into GITHUB_WORKSPACE = /home/runner/work/dolibarr/dolibarr
    - uses: actions/checkout@v3

    - name: Set vendor-dir
      run: composer -n config -g vendor-dir htdocs/includes

    - name: Install packages
      run: |
        composer -n require phpunit/phpunit ^7.5 \
          php-parallel-lint/php-parallel-lint ^1 \
          php-parallel-lint/php-console-highlighter ^0 \
          php-parallel-lint/php-var-dump-check ~0.4 \
          squizlabs/php_codesniffer ^3
    
    - name: Version information
      run: |
        composer -V
        php composer -V
        # Check PHP
        echo "PHP version"
        php -i | head -
        # Check Parallel-lint version
        echo "Parallel-lint version"
        which parallel-lint
        parallel-lint -V
        # Check PHP CodeSniffer version
        echo "PHPCS version"
        which phpcs
        phpcs --version | head -
        phpcs -i | head -
        # Check PHP Vardump check version
        echo "PHP Vardump check version"
        which var_dump_check
        var_dump_check --version
        # Check PHPUnit version
        echo "PHPUnit version"
        which phpunit
        phpunit --version | head -
        # Check Apache version
        echo "Apache version"
        apache2 -v | head -
        # Check Database
        echo "Database version"
        mysql --version | head -
        psql --version
        echo "Check pgloader version"
        pgloader --version
        
    - name: lint
      run: |
        parallel-lint -e php --exclude dev/tools/test/namespacemig --exclude htdocs/includes/composer --exclude htdocs/includes/myclabs --exclude htdocs/includes/phpspec --exclude dev/initdata/dbf/includes \
          --exclude htdocs/includes/sabre --exclude htdocs/includes/phpoffice/PhpSpreadsheet --exclude htdocs/includes/sebastian \
          --exclude htdocs/includes/squizlabs/php_codesniffer --exclude htdocs/includes/jakub-onderka --exclude htdocs/includes/php-parallel-lint --exclude htdocs/includes/symfony \
          --exclude htdocs/includes/mike42/escpos-php/example --exclude htdocs/includes/maximebf \
          --exclude htdocs/includes/phpunit/ --exclude htdocs/includes/tecnickcom/tcpdf/include/barcodes --exclude htdocs/includes/webmozart --exclude htdocs/includes/webklex --blame .

    - name: phpcs
      run: |
         phpcs -s -p -d memory_limit=-1 --extensions=php --colors --tab-width=4 --standard=dev/setup/codesniffer/ruleset.xml --encoding=utf-8 --runtime-set ignore_warnings_on_exit true .;     

    - name: var-dump-check
      run: |
        var-dump-check --extensions php --tracy --exclude htdocs/includes --exclude test/ --exclude htdocs/public/test/ --exclude htdocs/core/lib/functions.lib.php .

